In [ ]:
import pandas as pd

bajas = pd.read_excel('/content/Bajas.xlsx', sheet_name = 'Hoja1')
altas = pd.read_excel('/content/Altas.xlsx', sheet_name = 'Hoja1')

bajas

In [ ]:
bajasPool= bajas.drop(range(0, 360, 3), axis = 0)
bajasControl = bajasPool.drop(range(2, 360, 3), axis = 0)
altasPool = altas.drop(range(0, 360, 3), axis = 0)
altasControl = altasPool.drop(range(2, 360, 3), axis = 0)

In [ ]:
data1 = data.drop(range(0 + 15, 720, 30), axis = 0)
data2 = data1.drop(range(1 + 15, 720, 30), axis = 0)
data3 = data2.drop(range(2 + 15, 720, 30), axis = 0)
data4 = data3.drop(range(3 + 15, 720, 30), axis = 0)
data5 = data4.drop(range(4 + 15, 720, 30), axis = 0)
data6 = data5.drop(range(5 + 15, 720, 30), axis = 0)
data7 = data6.drop(range(6 +15, 720, 30), axis = 0)
data8 = data7.drop(range(7 + 15, 720, 30), axis = 0)
data9 = data8.drop(range(8 + 15, 720, 30), axis = 0)
data10 = data9.drop(range(9 + 15, 720, 30), axis = 0)
data11 = data10.drop(range(10 + 15, 720, 30), axis = 0)
data12 = data11.drop(range(11 + 15, 720, 30), axis = 0)
data13 = data12.drop(range(12 + 15, 720, 30), axis = 0)
data14 = data13.drop(range(13 + 15, 720, 30), axis = 0)
data15 = data14.drop(range(14 + 15, 720, 30), axis = 0)
data15

In [ ]:
bajasControl.to_excel('Bajas5cm.xlsx', sheet_name='Hoja1')
altasControl.to_excel('Altas5cm.xlsx', sheet_name='Hoja1')